
$font-Headline:'Montserrat', sans-serif;
$font-Body:'Roboto', sans-serif;

$twitteraccentred:hsl(345, 82%, 51%);
$twitteraccentblue:hsl(203, 78%, 49%);
$twitteraccentgreen:hsl(156, 78%, 45%);
$twitteraccentorange:hsl(20, 100%, 56%);
$twitteraccentpurple:hsl(276, 84%, 52%);

$content:hsla(0, 0%, 100%, 0.8);

$accent:$twitteraccentgreen;



$tablehead:hsl(190, 41%, 17%);  
$elebg:hsl(211, 33%, 16%);
$betterbg:hsl(209, 61%, 12%);

